<% provide :page_header do %>
  <h1><span class="fa fa-address-book"></span> <%= t('hyku.admin.work_types') %></h1>
<% end %>

<div class="card">
  <div class="card-body">
    <%= simple_form_for @site, url: '/admin/work_types' do |f| %>
      <% tenant_registered_curation_concern_types.each do |type| %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="<%= type %>" id="input-<%= type %>" name="available_works[]" <%= 'checked' if @site.available_works&.include?(type) %>>
          <label class="form-check-label" for="input-<%= type %>">
            <%= type %>
          </label>
        </div>
      <% end %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
